services:
  telegram-bot-api:
    image: aiogram/telegram-bot-api:latest
    container_name: telegram-api-server
    environment:
      TELEGRAM_API_ID: "${TELEGRAM_API_ID}"
      TELEGRAM_API_HASH: "${TELEGRAM_API_HASH}"
      TELEGRAM_LOCAL: "true"
    volumes:
      - telegram-data:/var/lib/telegram-bot-api
    networks:
      - bot-net
    restart: always

  bot:
    build: .
    container_name: video-transcoder-bot
    environment:
      BOT_TOKEN: "${BOT_TOKEN}"
      # Notice we use the container_name defined above
      TELEGRAM_API_ROOT: "http://telegram-api-server:8081"
      PUBLIC_URL: "${PUBLIC_URL}"
      SUPABASE_URL: "${SUPABASE_URL}"
      SUPABASE_KEY: "${SUPABASE_KEY}"
    volumes:
      - telegram-data:/var/lib/telegram-bot-api
      - ./media_output:/usr/src/app/media_output
    ports:
      - "3000:3000"
    depends_on:
      - telegram-bot-api
    networks:
      - bot-net
    restart: always

volumes:
  telegram-data:

networks:
  bot-net:
    driver: bridge